<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha256-aAr2Zpq8MZ+YA/D6JtRD3xtrwpEz2IqOS+pWD/7XKIw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="alternate" type="application/atom+xml" href="/index.xml" title="Posts">
    <title>{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  </head>
  <body>
    {% include navigation.html %}
    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>

      {% if page.comments %}
        <div class="row">
          <div class="col-md-9">
            {% include comments.html %}
          </div>
        </div>
      {% endif %}
    </div>
    <script defer data-no-instant src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"
      integrity="sha256-k5gE8gnbCCVtz/4z2LzbAIpMdH8K1Bjl4cTCjm6SZS8=" crossorigin="anonymous"></script>
    <script defer data-no-instant src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js"
      integrity="sha256-T8RTGotskdhLXy/3avHtzYliRm9WCbiiqm5dbCVH87s=" crossorigin="anonymous"></script>
    <script defer data-domain="luka.dornhecker.me" src="https://plausible.io/js/plausible.js"></script>
    <script data-no-instant>
      window.addEventListener('DOMContentLoaded', () => {
        InstantClick.init();
      });
    </script>
  </body>
</html>
